@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}
.loginbg{background-image: url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/welcome.png); background-size: 200px; min-height: 256px;}
.bg-cover {
    
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-brand {
    color: var(--brand) !important;
}


.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important; 
}

.owl-dot.active span{
    background-color: var(--brand) !important;
}


 /* slide */
 .slide {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/bg_banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

/* navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    font-size: 26px;
    font-weight: 700;
}

.navbar-brand .dot {
    color: var(--brand);
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.intro {margin-bottom: 36px;
text-align: center;}

.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}


#milestone {
    background: linear-gradient(rgba(255, 77, 41, 0.85), rgba(255, 77, 41, 0.85)), url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}


.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}


.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--light) 100%);
}

.project .content {
    /* position: absolute; */
    position: relative;
    left: 10%;
    bottom: 10%
}
.item img{ width: 100px!important; margin:0 auto}
.cat-desc h5{ font-size: 16px;}
.location-gps {
    cursor: pointer;
    height: 20px;
    line-height: 33px;
    position: absolute;
    right: 12px;
    text-align: right;
    top: 11px;
    background: transparent;
    width: 15px;
    color: #605e7e;
  }

@media (max-width:576px){
    .cat-desc h5{ font-size: 14px;}
   
    .blog-post span {
        position: absolute;
        top: 10px!important;
        left: 10px!important;
        background-color: var(--brand);
        padding: 0px 10px;
        border-radius: 100px;
        text-decoration: none;
        color: #fff;
        font-size: 14px!important;
      }
      .mobtop{text-align: center; margin-top: 15px;}
}

.project h2,
.project h6 {
    color: #000;
    font-size:14px;
}

.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow); margin-bottom: 1.8rem; border-radius:.5rem; border:#ccc solid 1px;
}

.blog-post img{ border-radius:.2rem .2rem 0 0; height: auto;}

.blog-post .content {
    padding:8px 16px;
}

.blog-post span {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.blog-post p{ margin-bottom: 0;}

.blog-post small {
    background: #eee;
    padding: 0px 4px;
    color: #666;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: .5rem 0 .5rem 0;
}
.custom-control {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: block;
  min-height: 1.5rem;
}
.showmore-button {
    text-align: center;
  }
  .showmore-button-inner {
    border: 1px solid var(--brand);
    color: var(--brand);
  }
.showmore-button-inner {
    display: inline-block;
    padding: 10px 19px;
    line-height: 14px;
    font-size: 14px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
  }
  .card-title {
	font-size: 1.125rem;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 1.5rem;
}
.card-title:only-child {
    margin-bottom: 0;
}
.filter-product-checkboxs a{ cursor: pointer;}
.filter-product-checkboxs a:hover{color: var(--brand) !important;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.ribbon::after, .ribbon::before {
	 position: absolute;
	 z-index: -1;
	 content: '';
	 display: block;
	 border: 5px solid;
}
 .ribbon span {
	 position: absolute;
	 display: block;
	 width: 225px;
	 padding: 8px 0;
	 box-shadow: 0 5px 10px #00000061;
	 color: #fff;
	 /* text-shadow: 0 1px 1px #000; */
	 text-transform: capitalize;
	 text-align: center;
}

 .ribbon-top-right {
	 top: -10px;
	 right: -10px;
}
 .ribbon-top-right::after {
	 border-top-color: transparent;
	 border-right-color: transparent;
}
 .ribbon-top-right::before {
	 border-top-color: transparent;
	 border-right-color: transparent;
	 top: 0;
	 left: 36px;
}
 .ribbon-top-right::after {
	 bottom: 36px;
	 right: 0;
}
 .ribbon-top-right span {
	 left: -8px;
	 top: 30px;
	 transform: rotate(45deg);
}
.arrow-ribbon2 {
	 color: #fff;
	 padding: 3px 8px;
	 position: absolute;
	 top: 10px;
	 left: 0px;
	 z-index: 98;
	 font-size: 30px;
}
 .arrow-ribbon2:before {
	 position: absolute;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 content: "";
	 right: -24px;
	 border-top: 24px solid transparent;
	 border-bottom: 24px solid transparent;
	 width: 0;
     border-left: 24px solid rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
}
 
 
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #f1eef7;
      background-color: rgb(241, 238, 247);
  }
.label-secondary {
    background-color: var(--brand);
  }

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(https://www.dinamalar.com/testing/a1b2c3z5y6x7/2022/static-classifieds/img/people.webp), #082032;;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}